@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-dark: 272deg 72% 47%;
    --color-primary: 271deg 81% 56%;
    --color-primary-light: 271deg 91% 65%;

    --color-accent: 270deg 100% 98%;
    --color-accent-dark: 269deg 100% 92%;

    --color-background: 0deg 0% 98%;
    --color-button-text-primary: 0deg 0% 98%;

    --color-foreground: 0deg 0% 8%;
    --color-foreground-light: 0deg 0% 20%;
    --color-foreground-extra-light: 0deg 0% 40%;

    --color-neutral-green: 142deg 76% 36%;
    --color-neutral-green-light: 142deg 69% 58%;
    --color-neutral-green-dark: 143deg 64% 24%;

    --color-neutral-red: 0deg 72% 51%;
    --color-neutral-red-light: 0deg 91% 71%;
    --color-neutral-red-dark: 0deg 70% 35%;

    --color-neutral-gray: 215deg 14% 34%;
    --color-neutral-gray-light: 218deg 11% 65%;
    --color-neutral-gray-dark: 217deg 19% 27%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary-dark: 272deg 72% 47%;
      --color-primary: 271deg 81% 56%;
      --color-primary-light: 271deg 91% 65%;

      --color-accent: 274deg 66% 32%;
      --color-accent-dark: 274deg 84% 21%;

      --color-background: 229deg 84% 5%;
      --color-button-text-primary: 0deg 0% 98%;

      --color-foreground: 0deg 0% 100%;
      --color-foreground-light: 0deg 0% 95%;
      --color-foreground-extra-light: 0deg 0% 80%;

      --color-neutral-green: 142deg 76% 36%;
      --color-neutral-green-light: 142deg 69% 58%;
      --color-neutral-green-dark: 143deg 64% 24%;

      --color-neutral-red: 0deg 72% 51%;
      --color-neutral-red-light: 0deg 91% 71%;
      --color-neutral-red-dark: 0deg 70% 35%;

      --color-neutral-gray: 215deg 14% 34%;
      --color-neutral-gray-light: 218deg 11% 65%;
      --color-neutral-gray-dark: 217deg 19% 27%;
    }
  }
}

body {
  color: hsl(var(--color-foreground));
  background-color: hsl(var(--color-background));
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 5rem;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
}

@media (max-width: 1240px) {
  h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 52px;
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: 36px;
    font-weight: 800;
    line-height: 48px;
  }
}
